*{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
}

body::-webkit-scrollbar {
    display: none;
}


html {
  background-color: cadetblue;
  color: rgb(195, 195, 202);
}

hr {
  margin-top: 20px;
  width: 1800px;
  border: 5px solid rgb(8, 24, 59, 0.2);
  border-radius: 5px;
}

.login-container {
  margin-top: 50px;
}

.login-header {
  color: rgb(43, 105, 124);
  margin-bottom: 50px;
}

.thumbnails {
  width: 300px;
  height: 200px;
  cursor: pointer;
  border-radius: 20px;
}

.home-container {
  margin-top: 50px;
}

.home-img {
  width: 700px;
  height: 500px;
  border-radius: 0px;
}

.names {
  display: block;
  padding: 5px;
  letter-spacing: 2px;
  font-style:italic;
}

.container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
}

.container:hover {
  background-color: rgb(44, 72, 73, 0.9);
  transition: 1s;
}

.nav {
  display: inline-block;
  border-radius: 20px;
  border-style: solid;
}

label{
  
  width: 140px;
  display: inline-block;
  margin: 5px;
}

.address {
  font-size: small;
  font-style: italic;
}

.listing {
  display: inline-block;
}

.submit {
  margin: 15px;
}

.grid {
  margin-bottom: 20px;
}

.new-form-container {
  margin-top: 50px;
}

.new-from-header {
  color: rgb(195, 195, 202);
}

.form {
  margin-top: 100px;
}

button {
  margin-top: 25px;
  transition: 0.5s;
  font-size: 24pt;
  border-radius: 10px;
  border: 2px solid rgb(111, 186, 189);
  background-color: cadetblue;
  color: rgb(195, 195, 202);
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 80),
  5px 5px 10px rgba(0, 0, 0, 0.25);
}

button:hover {
  transition: 0.5s;
  color: rgb(218, 73, 73);
  box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
  1px 1px 5px rgba(0, 0, 0, 0.3);
  inset: -2px -2px 5px rgba(255, 255, 255, 1),
  2px 2px 4px rgba(0, 0, 0, 0.3);
}

.listing-name {
  font-size: 50pt;
  color: rgb(105, 100, 116);
}
.listing-image {
  width: 50%;
  border-radius: 20px;
}